.about-section {
  height: 70rem;
  background-image: url(../public/images/alex-perez-ioJBsYQ-pPM-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  @include desktop {
    & {
      height: 65rem;
    }
  }

  @include largeDesktop {
    & {
      height: 85rem;
    }
  }

  .about-container {
    width: 100%;
    max-width: 90rem;
    height: 70%;
    margin: 0 auto;
    @include flex-center-col;
    justify-content: space-evenly;

    @include desktop {
      & {
        height: 75%;
      }
    }

    .about-content {
      width: 80%;
      height: auto;
      margin-bottom: 4rem;
      position: relative;
      color: $color-lite;
      font-family: $secondary-font;
      font-size: 1.75rem;
      text-transform: initial;
      text-align: justify;
      text-indent: 2.5rem;
      opacity: 0;
      @include text-shadowdeep;
      @include transit6;

      @include tabletPortrait {
        & {
          width: 70%;
          font-size: 2rem;
        }
      }

      @include desktop {
        & {
          width: 75%;
        }
      }

      @include largeDesktop {
        & {
          width: 85%;
          font-size: 2.5rem;
        }
      }
    }
  }
}
