// Colors

$color-dark: #050505;
$color-lite: #fff;
$color-red: rgb(204, 0, 0);
$color-gray-lite: #7e7c7c;
$color-gray-opacity: rgba(255, 255, 255, 0.541);
$color-lite-opacity: rgba(255, 255, 255, 0.768);
$color-red-opacity: rgba(204, 0, 0, 0.5);
