// Google Fonts - Source Sans Font

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

// Google Fonts - Karla Font

@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

// Bahnscrift font from local

@font-face {
  font-family: "Bahnschrift";
  src: url(../public/fonts/bahnschrift.ttf);
}

// RingBearer font from local

@font-face {
  font-family: "RingBearer";
  src: url(../public/fonts/RingBearer.TTF);
}
